@model BogeyBall.Models.ScoreCardDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScoreCardDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardPlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardPlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardCourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardCourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.ScoreCardScoreTotal)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.ScoreCardScoreTotal)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreSix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreSix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreSeven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreSeven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreEight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreEight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreNine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreNine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreEleven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreEleven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreTwelve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreTwelve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreThirteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreThirteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreFourteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreFourteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreFifteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreFifteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreSixteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreSixteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreSeventeen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreSeventeen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCardScoreEighteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCardScoreEighteen)
        </dd>*@



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ScoreCardId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
